{{- $id := .Get "id" -}}
{{- $text := .Get "text" -}}
{{- partial "glossary-terms.html" $.Page -}}
u{{- $glossary_items := $.Page.Scratch.Get "glossary_items" -}}
{{- if not $glossary_items -}}
  {{- errorf "[%s] No glossary items found" site.Language.Lang -}}
{{- else -}}
  {{- $term_info := $glossary_items.GetMatch (printf "%s.md" $id ) -}}
  {{- if not $term_info -}}
    {{- errorf "[%s] %q: %q is not a valid id, see /glossary/ for a full list" site.Language.Lang .Page.Path $id -}}
  {{- end }}
  {{- with $term_info -}}
    {{- $text := $text | default $term_info.Title -}}
    {{- $glossary_home := "glossary" | relLangURL -}}
    {{- $external_link := printf "%s#%s" $glossary_home $id | safeURL  -}}
    {{- $tooltip :=  $term_info.Params.description | markdownify -}}

    {{- $tooltip := $tooltip | replaceRE "(?s)<a class='glossary-tooltip'.*?>(.*?).*</a>" "$1" | plainify -}}
    {{- $tooltip := trim $tooltip " \n" -}}
    <a class='glossary-tooltip' data-title='{{- $tooltip | safeHTML -}}' data-toggle='tooltip' data-placement='top' href='{{ $external_link }}' aria-label='{{ $text }}'>
      {{- $text | lower -}}
    </a>
  {{- end -}}
{{- end -}}
