<div class="card mx-auto">
  <div class="card-body">
    <h5 class="card-title">What do TOTPs look like?</h5>
    <h6 class="card-subtitle mb-2 mt-2 text-muted">Animated example</h6>
    <p class="card-text">Look familiar? These are the six-digit, timed codes that I'm talking about!</p>
       <div class="row">
        <div class="col-sm-3 timer" style="--duration: 30;--size: 100;">
          <div class="mask"></div>
        </div>
        <div class="col-sm-9">
          <h1 id="totp-code"></h1>
        </div>
    </div>
  </div>
</div>

<script src="/js/totp.js"></script>
